body{
    background-color: black;
}

div{
    width:50%;
    height: 50%;
    margin-top:  15%;
    margin-left: 25%;
}
   
img{
    border:5px solid white;
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

p{
    color: white;
    text-align: center;
}